Estudiante, campus, aptitud, projecto, promociones, profesorado, curso

In [1]:
import pandas as pd

# Cargar los datasets
datas = pd.read_csv('data/clase_1.csv', delimiter=';')
datas2 = pd.read_csv('data/clase_2.csv', delimiter=';')
fstack = pd.read_csv('data/clase_3.csv', delimiter=';')
fstack2 = pd.read_csv('data/clase_4.csv', delimiter=';')


# Combinar datasets
dataclass = pd.concat([datas, datas2], axis=0).reset_index(drop=True)
fstackclass = pd.concat([fstack, fstack2], axis=0).reset_index(drop=True)

# Concatenar todos los estudiantes y añadir columna ID
estudiantes = pd.concat([dataclass, fstackclass], axis=0).reset_index(drop=True)
estudiantes['id_estudiante'] = range(1, len(estudiantes) + 1)

# Cambiar el nombre de la columna Proyecto_FullSatck a Proyecto_FullStack
estudiantes = estudiantes.rename(columns={'Proyecto_FullSatck': 'Proyecto_FullStack'})

# Seleccionar las columnas necesarias para el DataFrame de estudiantes
df_estudiantes = estudiantes[['id_estudiante', 'Nombre', 'Email', 'Promoción', 'Fecha_comienzo', 'Campus']]

# Mostrar el DataFrame de estudiantes
df_estudiantes

,id_estudiante,Nombre,Email,Promoción,Fecha_comienzo,Campus
0,1,Jafet Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid
1,2,Jorge Manzanares,Jorge_Manzanares@gmail.com,Septiembre,18/09/2023,Madrid
2,3,Onofre Adadia,Onofre_Adadia@gmail.com,Septiembre,18/09/2023,Madrid
3,4,Merche Prada,Merche_Prada@gmail.com,Septiembre,18/09/2023,Madrid
4,5,Pilar Abella,Pilar_Abella@gmail.com,Septiembre,18/09/2023,Madrid
5,6,Leoncio Tena,Leoncio_Tena@gmail.com,Septiembre,18/09/2023,Madrid
6,7,Odalys Torrijos,Odalys_Torrijos@gmail.com,Septiembre,18/09/2023,Madrid
7,8,Eduardo Caparrós,Eduardo_Caparrós@gmail.com,Septiembre,18/09/2023,Madrid
8,9,Ignacio Goicoechea,Ignacio_Goicoechea@gmail.com,Septiembre,18/09/2023,Madrid
9,10,Clementina Santos,Clementina_Santos@gmail.com,Septiembre,18/09/2023,Madrid
10,11,Daniela Falcó,Daniela_Falcó@gmail.com,Septiembre,18/09/2023,Madrid
11,12,Abraham Vélez,Abraham_Vélez@gmail.com,Septiembre,18/09/2023,Madrid
12,13,Maximiliano Menéndez,Maximiliano_Menéndez@gmail.com,Septiembre,18/09/2023,Madrid
13,14,Anita Heredia,Anita_Heredia@gmail.com,Septiembre,18/09/2023,Madrid
14,15,Eli Casas,Eli_Casas@gmail.com,Septiembre,18/09/2023,Madrid
15,16,Guillermo Borrego,Guillermo_Borrego@gmail.com,Febrero,12/02/2024,Madrid
16,17,Sergio Aguirre,Sergio_Aguirre@gmail.com,Febrero,12/02/2024,Madrid
17,18,Carlito Carrión,Carlito_Carrión@gmail.com,Febrero,12/02/2024,Madrid
18,19,Haydée Figueroa,Haydée_Figueroa@gmail.com,Febrero,12/02/2024,Madrid
19,20,Chita Mancebo,Chita_Mancebo@gmail.com,Febrero,12/02/2024,Madrid
20,21,Joaquina Asensio,Joaquina_Asensio@gmail.com,Febrero,12/02/2024,Madrid
21,22,Cristian Sarabia,Cristian_Sarabia@gmail.com,Febrero,12/02/2024,Madrid
22,23,Isabel Ibáñez,Isabel_Ibáñez@gmail.com,Febrero,12/02/2024,Madrid
23,24,Desiderio Jordá,Desiderio_Jordá@gmail.com,Febrero,12/02/2024,Madrid
24,25,Rosalina Llanos,Rosalina_Llanos@gmail.com,Febrero,12/02/2024,Madrid
25,26,Amor Larrañaga,Amor_Larrañaga@gmail.com,Septiembre,18/09/2023,Madrid
26,27,Teodoro Alberola,Teodoro_Alberola@gmail.com,Septiembre,18/09/2023,Madrid
27,28,Cleto Plana,Cleto_Plana@gmail.com,Septiembre,18/09/2023,Madrid
28,29,Aitana Sebastián,Aitana_Sebastián@gmail.com,Septiembre,18/09/2023,Madrid
29,30,Dolores Valbuena,Dolores_Valbuena@gmail.com,Septiembre,18/09/2023,Madrid
30,31,Julie Ferrer,Julie_Ferrer@gmail.com,Septiembre,18/09/2023,Madrid
31,32,Mireia Cabañas,Mireia_Cabañas@gmail.com,Septiembre,18/09/2023,Madrid
32,33,Flavia Amador,Flavia_Amador@gmail.com,Septiembre,18/09/2023,Madrid
33,34,Albino Macias,Albino_Macias@gmail.com,Septiembre,18/09/2023,Madrid
34,35,Ester Sánchez,Ester_Sánchez@gmail.com,Septiembre,18/09/2023,Madrid
35,36,Luis Miguel Galvez,Luis_Miguel_Galvez@gmail.com,Septiembre,18/09/2023,Madrid
36,37,Loida Arellano,Loida_Arellano@gmail.com,Septiembre,18/09/2023,Madrid
37,38,Heraclio Duque,Heraclio_Duque@gmail.com,Septiembre,18/09/2023,Madrid
38,39,Herberto Figueras,Herberto_Figueras@gmail.com,Septiembre,18/09/2023,Madrid
39,40,Teresa Laguna,Teresa_Laguna@gmail.com,Febrero,12/02/2024,Valencia
40,41,Estrella Murillo,Estrella_Murillo@gmail.com,Febrero,12/02/2024,Valencia
41,42,Ernesto Uriarte,Ernesto_Uriarte@gmail.com,Febrero,12/02/2024,Valencia
42,43,Daniela Guitart,Daniela_Guitart@gmail.com,Febrero,12/02/2024,Valencia
43,44,Timoteo Trillo,Timoteo_Trillo@gmail.com,Febrero,12/02/2024,Valencia
44,45,Ricarda Tovar,Ricarda_Tovar@gmail.com,Febrero,12/02/2024,Valencia
45,46,Alejandra Vilaplana,Alejandra_Vilaplana@gmail.com,Febrero,12/02/2024,Valencia
46,47,Daniel Rosselló,Daniel_Rosselló@gmail.com,Febrero,12/02/2024,Valencia
47,48,Rita Olivares,Rita_Olivares@gmail.com,Febrero,12/02/2024,Valencia
48,49,Cleto Montes,Cleto_Montes@gmail.com,Febrero,12/02/2024,Valencia
49,50,Marino Castilla,Marino_Castilla@gmail.com,Febrero,12/02/2024,Valencia
50,51,Estefanía Valcárcel,Estefanía_Valcárcel@gmail.com,Febrero,12/02/2024,Valencia
51,52,Noemí Vilanova,Noemí_Vilanova@gmail.com,Febrero,12/02/2024,Valencia

In [2]:
# Obtener nombres de los proyectos
proyectos = estudiantes.columns[5:-1]

# Crear un DataFrame de proyectos con id_proyecto
df_proyectos = pd.DataFrame({'Nombre_proyecto': proyectos})
df_proyectos['id_proyecto'] = range(1, len(proyectos) + 1)
df_proyectos

       Nombre_proyecto  id_proyecto
0         Proyecto_HLF            1
1         Proyecto_EDA            2
2        Proyecto_BBDD            3
3          Proyecto_ML            4
4  Proyecto_Deployment            5
5      Proyecto_WebDev            6
6    Proyecto_FrontEnd            7
7     Proyecto_Backend            8
8       Proyecto_React            9
9   Proyecto_FullStack           10

ESTA HECHO FALTA QUE LO REVISEN PERO ESTA HECHO

In [3]:
aptitudes=estudiantes.iloc[:,5:]
aptitudes

data_proyectos = {
    'id_proyecto': range(1, 11),
    'Nombre_proyecto': ['Proyecto_HLF', 'Proyecto_EDA', 'Proyecto_BBDD', 'Proyecto_ML', 'Proyecto_Deployment', 'Proyecto_WebDev', 'Proyecto_FrontEnd', 'Proyecto_Backend', 'Proyecto_React', 'Proyecto_FullStack']
}

proyectos = pd.DataFrame(data_proyectos)


# Paso 1: Transformar aptitudes a formato largo
aptitudes_largo = aptitudes.melt(id_vars=['id_estudiante'], 
                                 var_name='Nombre_proyecto', 
                                 value_name='Status')

# Paso 2: Filtrar filas con NaN en 'Status'
aptitudes_largo = aptitudes_largo.dropna(subset=['Status'])

# Paso 3: Mapear 'Nombre_proyecto' a 'id_proyecto'
aptitudes_final = aptitudes_largo.merge(proyectos, on='Nombre_proyecto', how='left')

# Seleccionar y reordenar las columnas necesarias
aptitudes_final = aptitudes_final[['id_estudiante', 'id_proyecto', 'Status']]

# Mostrar el resultado final

aptitudes_final.sort_values(by='id_estudiante',inplace=True)
aptitudes_final.reset_index(drop=True,inplace=True)
print(aptitudes_final[aptitudes_final['id_estudiante']==4])

print(estudiantes[estudiantes['id_estudiante']==4])

aptitudes_final
aptitudes_final['aptitud_id'] = range(1, len(aptitudes_final) + 1)
aptitudes_final

    id_estudiante  id_proyecto   Status
15              4            3  No Apto
16              4            4     Apto
17              4            1     Apto
18              4            2  No Apto
19              4            5  No Apto
         Nombre                   Email   Promoción Fecha_comienzo  Campus  \
3  Merche Prada  Merche_Prada@gmail.com  Septiembre     18/09/2023  Madrid

  Proyecto_HLF Proyecto_EDA Proyecto_BBDD Proyecto_ML Proyecto_Deployment  \
3         Apto      No Apto       No Apto        Apto             No Apto

  Proyecto_WebDev Proyecto_FrontEnd Proyecto_Backend Proyecto_React  \
3             NaN               NaN              NaN            NaN

  Proyecto_FullStack  id_estudiante
3                NaN              4

     id_estudiante  id_proyecto   Status  aptitud_id
0                1            1     Apto           1
1                1            4     Apto           2
2                1            3     Apto           3
3                1            5     Apto           4
4                1            2  No Apto           5
..             ...          ...      ...         ...
255             52            9     Apto         256
256             52            8  No Apto         257
257             52            7  No Apto         258
258             52            6     Apto         259
259             52           10     Apto         260

[260 rows x 4 columns]

In [4]:
dict_promociones={'Mes':['Septiembre','Febrero','Septiembre','Febrero'],
                  'Fecha_comienzo':['18/09/2023','12/02/2024','18/09/2023','12/02/2024'],
                  'Curso_id':[1,1,2,2],
                  'Promocion_id':[1,2,3,4]}
promociones=pd.DataFrame(dict_promociones)
promociones

          Mes Fecha_comienzo  Curso_id  Promocion_id
0  Septiembre     18/09/2023         1             1
1     Febrero     12/02/2024         1             2
2  Septiembre     18/09/2023         2             3
3     Febrero     12/02/2024         2             4

In [5]:
dict_curso={'nombre_curso':['Data Science','FullStack'],
            'id_curso':[1,2]}
cursos=pd.DataFrame(dict_curso)
cursos

   nombre_curso  id_curso
0  Data Science         1
1     FullStack         2

Añadir promocion id a estudiantes

In [10]:
estudiantes.loc[(estudiantes['Promoción'] == 'Septiembre') & (~estudiantes['Proyecto_EDA'].isna()), 'Promocion_id'] = 1



estudiantes.loc[(estudiantes['Promoción'] == 'Febrero') & (~estudiantes['Proyecto_EDA'].isna()), 'Promocion_id'] = 2

estudiantes.loc[(estudiantes['Promoción'] == 'Septiembre') & (estudiantes['Proyecto_EDA'].isna()), 'Promocion_id'] = 3

estudiantes.loc[(estudiantes['Promoción'] == 'Febrero') & (estudiantes['Proyecto_EDA'].isna()), 'Promocion_id'] = 4

# Mostrar el DataFrame con la nueva columna 'Promocion_id'
estudiantes

estudiantes['Promocion_id'] = estudiantes['Promocion_id'].astype(int)

estudiantes

df_estudiantes = estudiantes[['id_estudiante', 'Nombre', 'Email', 'Promocion_id']]

# Mostrar el DataFrame de estudiantes

df_estudiantes

,id_estudiante,Nombre,Email,Promocion_id
0,1,Jafet Casals,Jafet_Casals@gmail.com,1
1,2,Jorge Manzanares,Jorge_Manzanares@gmail.com,1
2,3,Onofre Adadia,Onofre_Adadia@gmail.com,1
3,4,Merche Prada,Merche_Prada@gmail.com,1
4,5,Pilar Abella,Pilar_Abella@gmail.com,1
5,6,Leoncio Tena,Leoncio_Tena@gmail.com,1
6,7,Odalys Torrijos,Odalys_Torrijos@gmail.com,1
7,8,Eduardo Caparrós,Eduardo_Caparrós@gmail.com,1
8,9,Ignacio Goicoechea,Ignacio_Goicoechea@gmail.com,1
9,10,Clementina Santos,Clementina_Santos@gmail.com,1
10,11,Daniela Falcó,Daniela_Falcó@gmail.com,1
11,12,Abraham Vélez,Abraham_Vélez@gmail.com,1
12,13,Maximiliano Menéndez,Maximiliano_Menéndez@gmail.com,1
13,14,Anita Heredia,Anita_Heredia@gmail.com,1
14,15,Eli Casas,Eli_Casas@gmail.com,1
15,16,Guillermo Borrego,Guillermo_Borrego@gmail.com,2
16,17,Sergio Aguirre,Sergio_Aguirre@gmail.com,2
17,18,Carlito Carrión,Carlito_Carrión@gmail.com,2
18,19,Haydée Figueroa,Haydée_Figueroa@gmail.com,2
19,20,Chita Mancebo,Chita_Mancebo@gmail.com,2
20,21,Joaquina Asensio,Joaquina_Asensio@gmail.com,2
21,22,Cristian Sarabia,Cristian_Sarabia@gmail.com,2
22,23,Isabel Ibáñez,Isabel_Ibáñez@gmail.com,2
23,24,Desiderio Jordá,Desiderio_Jordá@gmail.com,2
24,25,Rosalina Llanos,Rosalina_Llanos@gmail.com,2
25,26,Amor Larrañaga,Amor_Larrañaga@gmail.com,3
26,27,Teodoro Alberola,Teodoro_Alberola@gmail.com,3
27,28,Cleto Plana,Cleto_Plana@gmail.com,3
28,29,Aitana Sebastián,Aitana_Sebastián@gmail.com,3
29,30,Dolores Valbuena,Dolores_Valbuena@gmail.com,3
30,31,Julie Ferrer,Julie_Ferrer@gmail.com,3
31,32,Mireia Cabañas,Mireia_Cabañas@gmail.com,3
32,33,Flavia Amador,Flavia_Amador@gmail.com,3
33,34,Albino Macias,Albino_Macias@gmail.com,3
34,35,Ester Sánchez,Ester_Sánchez@gmail.com,3
35,36,Luis Miguel Galvez,Luis_Miguel_Galvez@gmail.com,3
36,37,Loida Arellano,Loida_Arellano@gmail.com,3
37,38,Heraclio Duque,Heraclio_Duque@gmail.com,3
38,39,Herberto Figueras,Herberto_Figueras@gmail.com,3
39,40,Teresa Laguna,Teresa_Laguna@gmail.com,4
40,41,Estrella Murillo,Estrella_Murillo@gmail.com,4
41,42,Ernesto Uriarte,Ernesto_Uriarte@gmail.com,4
42,43,Daniela Guitart,Daniela_Guitart@gmail.com,4
43,44,Timoteo Trillo,Timoteo_Trillo@gmail.com,4
44,45,Ricarda Tovar,Ricarda_Tovar@gmail.com,4
45,46,Alejandra Vilaplana,Alejandra_Vilaplana@gmail.com,4
46,47,Daniel Rosselló,Daniel_Rosselló@gmail.com,4
47,48,Rita Olivares,Rita_Olivares@gmail.com,4
48,49,Cleto Montes,Cleto_Montes@gmail.com,4
49,50,Marino Castilla,Marino_Castilla@gmail.com,4
50,51,Estefanía Valcárcel,Estefanía_Valcárcel@gmail.com,4
51,52,Noemí Vilanova,Noemí_Vilanova@gmail.com,4

Ahora toca los instructores

In [13]:
Instructores= pd.read_csv('data/claustro.csv', delimiter=';')

Instructores['Instructor_id'] = range(1, len(Instructores) + 1)
Instructores
df_instructores = Instructores[['Nombre', 'Instructor_id']]
df_instructores

df_instructores

#CREAR ROL

               Nombre  Instructor_id
0           Noa Yáñez              1
1   Saturnina Benitez              2
2          Anna Feliu              3
3       Rosalva Ayuso              4
4    Ana Sofía Ferrer              5
5     Angélica Corral              6
6         Ariel Lledó              7
7         Mario Prats              8
8   Luis Ángel Suárez              9
9  María Dolores Diaz             10

Ahora crear la tabla rol que sera el intermedio, Preguntar donde esta el profesor de Febrero en DS

In [8]:

ta_instructores = Instructores[Instructores['Rol'] == 'TA']
li_instructores = Instructores[Instructores['Rol'] == 'LI']

# Concatenar los roles 'TA' y 'LI' en una lista
roles_ta_li = ta_instructores['Rol'].tolist() + li_instructores['Rol'].tolist()

#Crea los rol_id
rol_id = [1 if rol == 'LI' else 2 for rol in roles_ta_li]


Roles={
    'Rol': roles_ta_li,
    'Instructor_id': [df_instructores.loc[df_instructores['Nombre'] == nombre, 'Instructor_id'].values[0] for nombre in ['Noa Yáñez', 'Saturnina Benitez', 'Anna Feliu', 'Rosalva Ayuso', 'Ana Sofía Ferrer', 'Angélica Corral', 'Ariel Lledó', 'Mario Prats', 'Luis Ángel Suárez', 'María Dolores Diaz']],
    'Promocion_id':[1,1,3,3,4,4,1,4,3,1],
    'Rol_id': rol_id
} 


Roles=pd.DataFrame(Roles)

Roles

  Rol  Instructor_id  Promocion_id  Rol_id
0  TA              1             1       2
1  TA              2             1       2
2  TA              3             3       2
3  TA              4             3       2
4  TA              5             4       2
5  TA              6             4       2
6  TA              7             1       2
7  LI              8             4       1
8  LI              9             3       1
9  LI             10             1       1

Ver si añado presencialidad en instructor como atributo

Ahora el dataframe de campus

DF estudinates y df instructores y todo lo demas sus nombres normales

In [23]:



# Crear DataFrame campus
campus = estudiantes[['Campus', 'id_estudiante']].drop_duplicates().reset_index(drop=True)
campus['Campus_id'] = campus.index + 1

# Definir una función para asignar Campus_id según el nombre del campus
def asignar_campus_id(campus_name):
    if campus_name == 'Madrid':
        return 1
    elif campus_name == 'Valencia':
        return 2
    else:
        return None  # Manejar cualquier otro caso según sea necesario

campus
# Crear DataFrame campus sin la columna id_estudiante
campus = estudiantes[['Campus']].drop_duplicates().reset_index(drop=True)

# Definir una función para asignar Campus_id según el nombre del campus
def asignar_campus_id(campus_name):
    if campus_name == 'Madrid':
        return 1
    elif campus_name == 'Valencia':
        return 2
    else:
        return None  # Manejar cualquier otro caso según sea necesario

# Aplicar la función a la columna 'Campus' para obtener 'Campus_id'
campus['Campus_id'] = campus['Campus'].apply(lambda x: asignar_campus_id(x))

# Mostrar el DataFrame campus resultante
campus

     Campus  Campus_id
0    Madrid          1
1  Valencia          2

Añadir a estudiantes y a instructores los campus_id

In [38]:
df_estudiantes
df_instructores

Instructores

Instructores['Campus_id'] = Instructores['Campus'].map({'Madrid': 1, 'Valencia': 2})

Instructores
df_instructores = Instructores[['Nombre', 'Modalidad', 'Instructor_id', 'Campus_id']]
df_instructores

estudiantes['Campus_id'] = estudiantes['Campus'].map({'Madrid': 1, 'Valencia': 2})

estudiantes
df_estudiantes=estudiantes[['Nombre','Email','Promocion_id','Campus_id','id_estudiante']]

df_estudiantes

,Nombre,Email,Promocion_id,Campus_id,id_estudiante
0,Jafet Casals,Jafet_Casals@gmail.com,1,1,1
1,Jorge Manzanares,Jorge_Manzanares@gmail.com,1,1,2
2,Onofre Adadia,Onofre_Adadia@gmail.com,1,1,3
3,Merche Prada,Merche_Prada@gmail.com,1,1,4
4,Pilar Abella,Pilar_Abella@gmail.com,1,1,5
5,Leoncio Tena,Leoncio_Tena@gmail.com,1,1,6
6,Odalys Torrijos,Odalys_Torrijos@gmail.com,1,1,7
7,Eduardo Caparrós,Eduardo_Caparrós@gmail.com,1,1,8
8,Ignacio Goicoechea,Ignacio_Goicoechea@gmail.com,1,1,9
9,Clementina Santos,Clementina_Santos@gmail.com,1,1,10
10,Daniela Falcó,Daniela_Falcó@gmail.com,1,1,11
11,Abraham Vélez,Abraham_Vélez@gmail.com,1,1,12
12,Maximiliano Menéndez,Maximiliano_Menéndez@gmail.com,1,1,13
13,Anita Heredia,Anita_Heredia@gmail.com,1,1,14
14,Eli Casas,Eli_Casas@gmail.com,1,1,15
15,Guillermo Borrego,Guillermo_Borrego@gmail.com,2,1,16
16,Sergio Aguirre,Sergio_Aguirre@gmail.com,2,1,17
17,Carlito Carrión,Carlito_Carrión@gmail.com,2,1,18
18,Haydée Figueroa,Haydée_Figueroa@gmail.com,2,1,19
19,Chita Mancebo,Chita_Mancebo@gmail.com,2,1,20
20,Joaquina Asensio,Joaquina_Asensio@gmail.com,2,1,21
21,Cristian Sarabia,Cristian_Sarabia@gmail.com,2,1,22
22,Isabel Ibáñez,Isabel_Ibáñez@gmail.com,2,1,23
23,Desiderio Jordá,Desiderio_Jordá@gmail.com,2,1,24
24,Rosalina Llanos,Rosalina_Llanos@gmail.com,2,1,25
25,Amor Larrañaga,Amor_Larrañaga@gmail.com,3,1,26
26,Teodoro Alberola,Teodoro_Alberola@gmail.com,3,1,27
27,Cleto Plana,Cleto_Plana@gmail.com,3,1,28
28,Aitana Sebastián,Aitana_Sebastián@gmail.com,3,1,29
29,Dolores Valbuena,Dolores_Valbuena@gmail.com,3,1,30
30,Julie Ferrer,Julie_Ferrer@gmail.com,3,1,31
31,Mireia Cabañas,Mireia_Cabañas@gmail.com,3,1,32
32,Flavia Amador,Flavia_Amador@gmail.com,3,1,33
33,Albino Macias,Albino_Macias@gmail.com,3,1,34
34,Ester Sánchez,Ester_Sánchez@gmail.com,3,1,35
35,Luis Miguel Galvez,Luis_Miguel_Galvez@gmail.com,3,1,36
36,Loida Arellano,Loida_Arellano@gmail.com,3,1,37
37,Heraclio Duque,Heraclio_Duque@gmail.com,3,1,38
38,Herberto Figueras,Herberto_Figueras@gmail.com,3,1,39
39,Teresa Laguna,Teresa_Laguna@gmail.com,4,2,40
40,Estrella Murillo,Estrella_Murillo@gmail.com,4,2,41
41,Ernesto Uriarte,Ernesto_Uriarte@gmail.com,4,2,42
42,Daniela Guitart,Daniela_Guitart@gmail.com,4,2,43
43,Timoteo Trillo,Timoteo_Trillo@gmail.com,4,2,44
44,Ricarda Tovar,Ricarda_Tovar@gmail.com,4,2,45
45,Alejandra Vilaplana,Alejandra_Vilaplana@gmail.com,4,2,46
46,Daniel Rosselló,Daniel_Rosselló@gmail.com,4,2,47
47,Rita Olivares,Rita_Olivares@gmail.com,4,2,48
48,Cleto Montes,Cleto_Montes@gmail.com,4,2,49
49,Marino Castilla,Marino_Castilla@gmail.com,4,2,50
50,Estefanía Valcárcel,Estefanía_Valcárcel@gmail.com,4,2,51
51,Noemí Vilanova,Noemí_Vilanova@gmail.com,4,2,52

Ya deberian estar todas los dataframes que se van a convertir a tablas listo. Aqui se van a enseñar

Estudiantes

In [51]:
df_estudiantes
df_estudiantes.to_csv('estudiantes.csv',index=False,header=False)

df_estudiantes

,Nombre,Email,Promocion_id,Campus_id,id_estudiante
0,Jafet Casals,Jafet_Casals@gmail.com,1,1,1
1,Jorge Manzanares,Jorge_Manzanares@gmail.com,1,1,2
2,Onofre Adadia,Onofre_Adadia@gmail.com,1,1,3
3,Merche Prada,Merche_Prada@gmail.com,1,1,4
4,Pilar Abella,Pilar_Abella@gmail.com,1,1,5
5,Leoncio Tena,Leoncio_Tena@gmail.com,1,1,6
6,Odalys Torrijos,Odalys_Torrijos@gmail.com,1,1,7
7,Eduardo Caparrós,Eduardo_Caparrós@gmail.com,1,1,8
8,Ignacio Goicoechea,Ignacio_Goicoechea@gmail.com,1,1,9
9,Clementina Santos,Clementina_Santos@gmail.com,1,1,10
10,Daniela Falcó,Daniela_Falcó@gmail.com,1,1,11
11,Abraham Vélez,Abraham_Vélez@gmail.com,1,1,12
12,Maximiliano Menéndez,Maximiliano_Menéndez@gmail.com,1,1,13
13,Anita Heredia,Anita_Heredia@gmail.com,1,1,14
14,Eli Casas,Eli_Casas@gmail.com,1,1,15
15,Guillermo Borrego,Guillermo_Borrego@gmail.com,2,1,16
16,Sergio Aguirre,Sergio_Aguirre@gmail.com,2,1,17
17,Carlito Carrión,Carlito_Carrión@gmail.com,2,1,18
18,Haydée Figueroa,Haydée_Figueroa@gmail.com,2,1,19
19,Chita Mancebo,Chita_Mancebo@gmail.com,2,1,20
20,Joaquina Asensio,Joaquina_Asensio@gmail.com,2,1,21
21,Cristian Sarabia,Cristian_Sarabia@gmail.com,2,1,22
22,Isabel Ibáñez,Isabel_Ibáñez@gmail.com,2,1,23
23,Desiderio Jordá,Desiderio_Jordá@gmail.com,2,1,24
24,Rosalina Llanos,Rosalina_Llanos@gmail.com,2,1,25
25,Amor Larrañaga,Amor_Larrañaga@gmail.com,3,1,26
26,Teodoro Alberola,Teodoro_Alberola@gmail.com,3,1,27
27,Cleto Plana,Cleto_Plana@gmail.com,3,1,28
28,Aitana Sebastián,Aitana_Sebastián@gmail.com,3,1,29
29,Dolores Valbuena,Dolores_Valbuena@gmail.com,3,1,30
30,Julie Ferrer,Julie_Ferrer@gmail.com,3,1,31
31,Mireia Cabañas,Mireia_Cabañas@gmail.com,3,1,32
32,Flavia Amador,Flavia_Amador@gmail.com,3,1,33
33,Albino Macias,Albino_Macias@gmail.com,3,1,34
34,Ester Sánchez,Ester_Sánchez@gmail.com,3,1,35
35,Luis Miguel Galvez,Luis_Miguel_Galvez@gmail.com,3,1,36
36,Loida Arellano,Loida_Arellano@gmail.com,3,1,37
37,Heraclio Duque,Heraclio_Duque@gmail.com,3,1,38
38,Herberto Figueras,Herberto_Figueras@gmail.com,3,1,39
39,Teresa Laguna,Teresa_Laguna@gmail.com,4,2,40
40,Estrella Murillo,Estrella_Murillo@gmail.com,4,2,41
41,Ernesto Uriarte,Ernesto_Uriarte@gmail.com,4,2,42
42,Daniela Guitart,Daniela_Guitart@gmail.com,4,2,43
43,Timoteo Trillo,Timoteo_Trillo@gmail.com,4,2,44
44,Ricarda Tovar,Ricarda_Tovar@gmail.com,4,2,45
45,Alejandra Vilaplana,Alejandra_Vilaplana@gmail.com,4,2,46
46,Daniel Rosselló,Daniel_Rosselló@gmail.com,4,2,47
47,Rita Olivares,Rita_Olivares@gmail.com,4,2,48
48,Cleto Montes,Cleto_Montes@gmail.com,4,2,49
49,Marino Castilla,Marino_Castilla@gmail.com,4,2,50
50,Estefanía Valcárcel,Estefanía_Valcárcel@gmail.com,4,2,51
51,Noemí Vilanova,Noemí_Vilanova@gmail.com,4,2,52

Aptitudes

In [57]:
aptitudes_final

aptitudes_final.to_csv('aptitudes.csv',index=False,header=False)

id_estudiante     int64
id_proyecto       int64
Status           object
aptitud_id        int64
dtype: object

Proyectos

In [59]:
proyectos.dtypes
proyectos.to_csv('proyectos.csv',index=False,header=False)

Promociones

In [62]:
promociones

promociones.to_csv('promociones.csv',index=False,header=False)
promociones.dtypes

promociones

          Mes Fecha_comienzo  Curso_id  Promocion_id
0  Septiembre     18/09/2023         1             1
1     Febrero     12/02/2024         1             2
2  Septiembre     18/09/2023         2             3
3     Febrero     12/02/2024         2             4

Cursos

In [64]:
cursos

cursos.to_csv('cursos.csv',index=False,header=False)

cursos.dtypes
cursos

   nombre_curso  id_curso
0  Data Science         1
1     FullStack         2

Roles

In [87]:
Roles






Roles.to_csv('roles.csv',index=False,header=False)

Roles

  Rol  Instructor_id  Promocion_id  Roles_id
0  TA              1             1         1
1  TA              2             1         2
2  TA              3             3         3
3  TA              4             3         4
4  TA              5             4         5
5  TA              6             4         6
6  TA              7             1         7
7  LI              8             4         8
8  LI              9             3         9
9  LI             10             1        10

Instructores

In [83]:
df_instructores

df_instructores.to_csv('instructores.csv',index=False,header=False)

df_instructores

               Nombre   Modalidad  Instructor_id  Campus_id
0           Noa Yáñez  Presencial              1          1
1   Saturnina Benitez  Presencial              2          1
2          Anna Feliu  Presencial              3          1
3       Rosalva Ayuso  Presencial              4          2
4    Ana Sofía Ferrer  Presencial              5          2
5     Angélica Corral  Presencial              6          1
6         Ariel Lledó  Presencial              7          1
7         Mario Prats      Online              8          2
8   Luis Ángel Suárez      Online              9          1
9  María Dolores Diaz      Online             10          1

Campus

In [86]:
campus
campus.to_csv('campus.csv',index=False,header=False)